# Local environment files
.env

# Ansible dynamic files
ansible/inventory.ini
patch_result.json

# Python bytecode
__pycache__/
*.pyc

# Terraform local files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/terraform.tfvars.json
terraform/ssh_key.pub
